body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.calculator {
    background-color: rgb(0, 0, 0);
    border: 20px solid;
    border-radius: 10px;
}

button {
    width: 75px;
    height: 75px;
    color: whitesmoke;
    background-color: navy;
    border: 2px solid;
    border-radius: 10px;
}

.mainDisplay {
    color: aliceblue;
    padding: 10px;
    font-size: 2rem;
    text-align: right;
    min-height: 60px;
    width: 100%;
    box-sizing: border-box;
}

.buttonRow1, .buttonRow2, .buttonRow3, .buttonRow4 {
    display: flex;
    gap: 5px;
    padding: 5px;
}